input {
  border: none;
  background: transparent;
}

.nova-player-docker {
  --nova-player-box-shadow: #e5e9ef;
  --nova-player-video-bgcolor: #000;
  --nova-player-primary-color: #00a1d6;
  --nova-player-brand_pink: #ff6699;
  --nova-player-tooltip-color: #fff;
  --nova-player-tooltip-bgcolor: #000;
  --nova-player-dmsend-main-bg: #fff;
  --nova-player-dmsend-switch-icon: #757575;
  --nova-player-dmsend-input-font: #212121;
  --nova-player-dmsend-disable-button-bg: #e7e7e7;
  --nova-player-dmsend-info-font: #505050;
  --nova-player-dmsend-disable-button-text: #999;
  --nova-player-fn-color: #00aeec;

  --nova-player-toast-font-size: 14px;
  --nova-player-ui-font-size: 12px;
}

.ui {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;

  .ui-area {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    line-height: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    width: 100%;
  }
}

.ui-panel {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 4px 4px 0 0;
  overflow: hidden;

  .ui-panel-wrap {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
}

.ui-panel.ui-dark {
  background: hsla(0, 0%, 8%, 0.9);
  border: none;
}

.ui-radio-wrap.ui-radio-button {
  width: 100%;

  .ui-radio-group {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    width: 100%;
  }

  .ui-radio-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background-color: #999;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    justify-content: center;
    padding: 0 12px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    white-space: nowrap;

    .ui-radio-input {
      height: 0;
      margin: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 0;
    }

    .ui-radio-label {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      .ui-radio-text {
        color: #fff;
        font-size: 12px;
        white-space: nowrap;
      }
    }

    &:hover {
      background-color: #757575;
    }

    &.active {
      background: #00a1d6;
      background: var(--nova-player-fn-color, #00a1d6);
    }
  }
}

.ui-slider {
  cursor: pointer;
  height: 12px;
  height: var(--nova-player-ui-font-size, 12px);

  .ui-track {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2px;
    position: relative;
    width: 100%;

    .ui-bar-wrap {
      background: #e7e7e7;
      border-radius: 1.5px;
      bottom: 0;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;

      .ui-bar {
        background: #00a1d6;
        background: var(--nova-player-fn-color, #00a1d6);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
      }
    }

    .ui-thumb {
      cursor: pointer;
      .ui-thumb-dot {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #00a1d6;
        background-color: var(--nova-player-fn-color, #00a1d6);
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 12px;
        height: var(--nova-player-ui-font-size, 12px);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        vertical-align: middle;
        width: 12px;
        width: var(--nova-player-ui-font-size, 12px);
      }
    }
  }
}

.ui-slider.ui-dark .ui-track .ui-bar-wrap,
.ui-slider.ui-dark .ui-track .ui-step .ui-step-item .ui-step-dot {
  background: #505050;
}

.ui {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;

  .ui-area {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    line-height: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    width: 100%;
  }
}

.ui-button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;

  .ui-area {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background: none;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    font-size: 12px;
    font-size: var(--nova-player-ui-font-size, 12px);
    justify-content: center;
    min-width: 68px;
    outline: none;
    padding: 3px;
    text-align: inherit;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}

.ui-button .ui-area.ui-button-blue,
.ui-button .ui-area.ui-button-gray3:hover {
  background-color: #00a1d6;
  background-color: var(--nova-player-fn-color, #00a1d6);
  color: #fff;
}

.nova-player-docker ol,
.nova-player-docker ul {
  list-style: none;
  outline: none;
}

.nova-player-docker * {
  box-sizing: content-box;
}

[role="button"],
a,
area,
button,
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input {
  outline: none;
  -webkit-text-decoration: none;
  text-decoration: none;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

fieldset,
img {
  border: none;
  vertical-align: middle;
}

[hidden] {
  display: none !important;
}

.common-svg-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;

  svg {
    height: 100%;
    -webkit-transition: fill 0.15s ease-in-out;
    transition: fill 0.15s ease-in-out;
    width: 100%;
    // fill: #fff;
  }
}

.nova-player-ctrl-btn {
  fill: #fff;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 0;
  height: 22px;
  line-height: 22px;
  outline: 0;
  position: relative;
  text-align: center;
  width: 36px;
  z-index: 2;

  &:hover {
    color: #fff;
  }
}

.nova-player-ctrl-time {
  font-size: 12px;
  margin-right: 10px;
  min-width: 90px;
}

.nova-player-ctrl-btn-icon {
  cursor: pointer;
  width: 100%;
}

.nova-player-ctrl-btn-icon > .common-svg-icon {
  height: 22px;
  opacity: 0.9;
  vertical-align: middle;

  svg {
    -webkit-transform: none !important;
    transform: none !important;
  }
}

.slider {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;

  .slider-area {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    line-height: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    width: 100%;
  }
}

.nova-player-docker {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: initial;
  box-sizing: initial;
  font-size: 12px;
  font-style: normal;
  line-height: 1;

  .nova-player-container.state-disable-box-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .nova-player-container {
    -webkit-box-shadow: 0 0 8px #e5e9ef;
    box-shadow: 0 0 8px #e5e9ef;
    -webkit-box-shadow: 0 0 8px var(--nova-player-box-shadow, #e5e9ef);
    box-shadow: 0 0 8px var(--nova-player-box-shadow, #e5e9ef);
    height: 100%;
    position: relative;
    width: 100%;

    .nova-player-primary-area {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      height: 100%;
      width: 100%;

      .nova-player-sending-area {
        &:before {
          background: #f4f4f4;
          content: "";
          display: block;
          height: 1px;
          margin-bottom: -1px;
          width: 100%;
        }
      }
    }
  }

  .nova-player-video-area {
    -webkit-box-flex: 1;
    background-color: #000;
    background-color: var(--nova-player-video-bgcolor, #000);
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    position: relative;

    .nova-player-video-perch {
      -webkit-box-flex: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex: none;
      flex: none;
      height: 100%;
      justify-content: center;
      position: relative;
      width: 100%;
      contain: layout style paint;
      will-change: transform;
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      .nova-player-video-wrap {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        height: 100%;
        width: 100%;
        contain: strict;
        will-change: transform;
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        video {
          content-visibility: visible;
          display: block;
          height: 100%;
          margin: auto;
          width: 100%;
          object-fit: contain;
          will-change: transform;
          transform: translateZ(0);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }
      }
    }

    .nova-player-video-poster {
      bottom: 0;
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }

    .nova-player-video-poster[hidden] {
      display: none;
    }

    .nova-player-state-wrap {
      pointer-events: none;

      .nova-player-state-buff-icon,
      .nova-player-state-buff-text,
      .nova-player-state-play {
        display: none;
      }
    }

    .nova-player-active {
      display: block;
    }

    .nova-player-panel-active {
      display: block;
    }
  }

  .nova-player-container {
    &.state-paused {
      .nova-player-state-wrap {
        bottom: 62px;
        cursor: pointer;
        pointer-events: none;
        position: absolute;
        right: 34px;
        z-index: 48;

        .nova-player-state-play {
          background: url(@/assets/images/play.svg) 50% no-repeat;
          display: block;
          height: 64px;
          width: 64px;
        }

        .nova-player-state-wrap {
          .nova-player-state-play {
            display: block;
          }
        }

        .nova-player-mini-warp {
          .nova-player-mini-state-play {
            visibility: hidden;
          }

          .nova-player-mini-state-pause {
            visibility: visible;
          }
        }
      }

      .nova-player-mini-warp {
        .nova-player-mini-state {
          .nova-player-mini-state-play {
            visibility: hidden;
          }

          .nova-player-mini-state-pause {
            visibility: visible;
          }
        }
      }
    }
  }

  &.state-buff {
    .nova-player-state-wrap {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 48;

      .nova-player-state-buff-icon {
        display: block;
        height: 24px;
        width: 24px;
        background-size: 100% 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-image: url(@/assets/images/buffer.webp);
        margin: 0 auto;
      }

      .nova-player-state-buff-text {
        color: #fff;
        display: block;
        font-size: 14px;
        line-height: 1;
        margin-top: 8px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      }
    }
  }

  .nova-player-container[data-ctrl-hidden="true"][data-angle="d3d11"]
    .nova-player-top-wrap {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
    visibility: visible;
  }

  .nova-player-container[data-ctrl-hidden="true"] .nova-player-control-bottom,
  .nova-player-container[data-ctrl-hidden="true"] .nova-player-control-mask {
    opacity: 0;
  }

  .state-no-cursor[data-ctrl-hidden="true"] {
    .nova-player-primary-area {
      .nova-player-video-area {
        .nova-player-video-perch {
          .nova-player-video-wrap {
            video {
              cursor: none;
            }
          }
        }
      }
    }
  }

  .nova-player-container[data-screen="full"],
  .nova-player-container[data-screen="web"] {
    .nova-player-state-wrap {
      bottom: 100px;
    }

    .nova-player-top-wrap {
      .nova-player-top-left {
        .nova-player-top-left-title {
          display: block;
        }
      }
    }

    .nova-player-sending-bar {
      .nova-player-video-info {
        display: none;
      }
    }

    .nova-player-pbp.show {
      bottom: calc(100% + 7px);
    }

    .nova-player-shadow-progress-area.permanent {
      .nova-player-progress-schedule-text {
        font-size: 16px;
      }
    }

    .nova-player-ctrl-setting-box {
      .nova-player-ctrl-setting-handoff-title,
      .nova-player-ctrl-setting-aspect-title,
      .nova-player-ctrl-setting-codec-title,
      .nova-player-ctrl-setting-loudness-title,
      .nova-player-ctrl-setting-others-title,
      .nova-player-ctrl-setting-more-text,
      .nova-player-ctrl-seting-menu-left .ui-switch-name {
        font-size: 16px;
      }
    }

    .nova-player-dm-setting-wrap {
      .nova-player-dm-setting-box {
        .nova-player-dm-setting-left,
        .nova-player-dm-setting-right {
          font-size: 16px;
        }
      }
    }
  }

  .nova-player-container[data-screen="mini"] {
    border-radius: 4px;
    // height: 225px;
    overflow: hidden;
    position: fixed !important;
    // width: 400px;
    height: 180px;
    width: 320px;
    z-index: 100000 !important;
    .nova-player-primary-area {
      .nova-player-top-wrap {
        display: none;
      }

      .nova-player-state-wrap {
        display: none;
      }

      .nova-player-cmd-dm-wrap {
        display: none;
      }

      .nova-player-ending-wrap {
        display: none;
      }

      .nova-player-control-wrap {
        display: none;
      }

      .nova-player-mini-warp {
        display: block;
      }

      .nova-player-volume-hint {
        display: none;
      }

      .nova-player-sending-area {
        display: none;
      }

      .nova-player-info-container {
        display: none;
      }

      .nova-player-color-panel {
        display: none;
      }

      .nova-player-hotkey-panel {
        display: none;
      }
    }

    .nova-player-context-area {
      display: none;
    }
  }

  .nova-player-container[data-screen="full"] {
    .nova-player-control-wrap {
      .nova-player-control-bottom {
        .nova-player-control-bottom-right {
          .nova-player-ctrl-wide,
          .nova-player-ctrl-web {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (min-width: 750px) {
    .nova-player-container[data-screen="full"],
    .nova-player-container[data-screen="web"] {
      .nova-player-top-left {
        left: 24px;
        margin-top: 24px;

        .nova-player-top-left-title {
          margin-bottom: 12px;
          display: block;
        }
      }

      .nova-player-toast-wrap {
        bottom: 100px;
      }
      .nova-player-control-wrap {
        height: 73px;
        line-height: 73px;
      }

      .nova-player-top-issue {
        font-size: 28px;
        width: 54px;

        .nova-player-top-issue-icon {
          height: 28px;
          width: 54px;
        }
      }

      .nova-player-sending-bar {
        background: none;
        border: none;
        height: 34px !important;
        line-height: 34px !important;
        margin: 0 auto;
        max-width: 729px;
        padding: 0;
      }
    }
  }
  @mixin screen-style() {
    @media screen and (min-width: 750px) {
      .nova-player-container[data-screen="full"],
      .nova-player-container[data-screen="web"] {
        @content;
      }
    }
  }

  @include screen-style() {
    .nova-player-control-mask {
      height: 120px !important;
    }

    .nova-player-control-top {
      bottom: 68px !important;
    }

    .nova-player-control-entity {
      height: 73px;
      line-height: 73px;
    }
    .nova-player-control-bottom {
      height: 45px;
      line-height: 34px;
      margin: 20px 0 0;

      .nova-player-control-bottom-left {
        min-width: 316px;
      }

      .nova-player-ctrl-btn {
        height: 43px;
        line-height: 32px;
        width: 54px;

        .nova-player-ctrl-btn-icon > .common-svg-icon {
          height: 28px;
        }
      }

      .nova-player-ctrl-time-label {
        font-size: 14px;
        text-align: left;
        text-indent: 16px;
      }

      .nova-player-control-bottom-center {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        height: 34px;
        line-height: 34px;
        padding: 0 60px;

        .nova-player-sending-bar {
          background: none !important;
          border: none !important;
          height: 34px !important;
          line-height: 34px !important;
          margin: 0 auto !important;
          max-width: 729px !important;
          padding: 0 !important;

          .nova-player-dm-root {
            .nova-player-dm-setting {
              .nova-player-dm-setting-wrap {
                bottom: 63px;
                right: -105px;
              }
            }
          }
        }
      }

      .nova-player-control-bottom-right {
        min-width: 370px;

        .nova-player-ctrl-btn.nova-player-ctrl-quality {
          width: auto;

          .nova-player-ctrl-quality-result {
            font-size: 16px;
            width: auto;
          }

          .nova-player-ctrl-quality-menu-wrap {
            bottom: 74px;

            .nova-player-ctrl-quality-result-auto-badge {
              font-size: 8px;
              height: 13px;
              margin-left: -14px;
              margin-top: -10px;
              padding: 0 3px;
            }

            &:after {
              height: 32px;
            }
          }

          .nova-player-ctrl-quality-bubble {
            bottom: 78px;
          }
        }
        .nova-player-ctrl-btn.nova-player-ctrl-eplist {
          width: 54px;
          .nova-player-ctrl-eplist-result {
            font-size: 16px;
            width: auto;
          }

          .nova-player-ctrl-eplist-menu-wrap {
            bottom: 74px;
          }
        }

        .nova-player-ctrl-btn.nova-player-ctrl-playbackrate {
          // width: 66px;
          .nova-player-ctrl-playbackrate-result {
            font-size: 16px;
            width: auto;
          }

          .nova-player-ctrl-playbackrate-menu {
            bottom: 74px;
          }
        }

        .nova-player-ctrl-btn.nova-player-ctrl-subtitle {
          // width: 66px;

          .nova-player-ctrl-subtitle-result {
            font-size: 16px;
            width: auto;
          }

          .nova-player-ctrl-subtitle-box {
            bottom: 74px;

            &:after {
              height: 32px;
            }
          }
        }

        .nova-player-ctrl-btn.nova-player-ctrl-volume {
          .nova-player-ctrl-volume-box {
            bottom: 74px;
          }
        }

        .nova-player-ctrl-btn.nova-player-ctrl-setting {
          .nova-player-ctrl-setting-box {
            bottom: 74px;
            right: -40px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .nova-player-container[data-screen="web"],
    .nova-player-container[data-screen="full"] {
      .nova-player-control-wrap {
        .nova-player-control-bottom {
          .nova-player-control-bottom-center {
            padding: 0;
            .nova-player-video-inputbar {
              display: none !important;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1366px) {
    .nova-player-container[data-screen="full"],
    .nova-player-container[data-screen="web"] {
      .nova-player-control-wrap {
        .nova-player-control-bottom {
          .nova-player-control-bottom-left {
            min-width: 273px;
          }
        }
      }
    }
  }
}
.nova-player-docker-major {
  height: 100%;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 749.9px) {
  .nova-player-container {
    .nova-player-control-wrap {
      .nova-player-control-bottom {
        .nova-player-control-bottom-center {
          .nova-player-sending-bar {
            display: none;
          }
        }
      }
    }
  }
}

.nova-player-container[data-screen="normal"],
.nova-player-container[data-screen="min"] {
  .nova-player-control-bottom-center {
    .nova-player-sending-bar {
      display: none;
    }
  }
}

.mode-webscreen {
  position: fixed;
  border-radius: 0;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.webscreen-fix {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
