.close-warp {
  width: 20px;
  height: 20px;
  //transform: scale(20 / 150); /* 原始宽度和高度是150，现在缩小到20，所以比例是20 / 150 */
  cursor: pointer;
  opacity: 1;
}
.close-bg {
  fill: rgba(24, 25, 28, 0.8);
}
.progress-circle {
  // -webkit-transform: stroke-dashoffset 5s ease-in-out;
  // transition: stroke-dashoffset 5s ease-in-out;
  // -webkit-animation: progressAnimation 5s linear infinite;
  // animation: progressAnimation 5s linear infinite;
  -webkit-transform: transform 0.5s ease-in-out; /* 添加过渡效果 */
  transition: stroke 1s ease-in-out; /* 添加过渡效果 */
  -webkit-transform-origin: center;
  transform-origin: center;
  transform: rotate(-90deg);
}
// .state-paused {
//     -webkit-animation-play-state: paused !important;
//     animation-play-state: paused !important;
// }
// @keyframes progressAnimation {
//     0% { stroke-dashoffset: 0; }
//     100% { stroke-dashoffset: 377; }
// }
