.player-adv-dm-wrap,
.player-bas-dm-wrap,
.player-row-dm-wrap {
  cursor: pointer;
  height: 100%;
  left: 0;
  -webkit-mask-position: center;
  mask-position: center;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  z-index: 2;
}

.player-bas-dm-wrap {
  .bas-danmaku {
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 10;
  }
}

.danmaku-x-dm-rotate {
  position: absolute;
  top: -15%;
  left: -6%;
  right: -6%;
  bottom: -15%;
  pointer-events: none;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  z-index: 4;
}

.player-row-dm-wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  z-index: 11;
}

.danmaku-x-dm {
  position: absolute;
  line-height: 1.125;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: pre;
  -webkit-perspective: 500px;
  perspective: 500px;
  will-change: transform, opacity, top, left;
  font-weight: bold;
  font-weight: var(--fontWeight, bold);
  font-family: var(--fontFamily);
  font-size: 25px;
  font-size: var(--fontSize, 25px);
  color: #ffffff;
  color: var(--color, #ffffff);
  text-shadow: var(--textShadow);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  top: 0;
  top: var(--top, 0);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: -10px;
  left: var(--offset, -10px);
  z-index: 200;
  z-index: var(--zIndex, 200);
  display: var(--display, flex);
  pointer-events: auto;
}

.danmaku-x-dm.danmaku-x-show {
  opacity: 1;
  opacity: var(--opacity, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.danmaku-x-dm.danmaku-x-show.danmaku-x-roll {
  -webkit-animation: roll linear var(--duration) forwards;
  animation: roll linear var(--duration) forwards;
}

.danmaku-x-dm.danmaku-x-center {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, var(--translateY, 0));
  transform: translate(-50%, var(--translateY, 0));
  -webkit-animation: fixed-x-center linear var(--duration) forwards;
  animation: fixed-x-center linear var(--duration) forwards;
}

.danmaku-x-high {
  z-index: 300;
  will-change: transform, opacity, top, left, width, height;
}

.danmaku-x-up {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  line-height: 1.6 !important;
  padding: 0 0.5em 0 2.8em;
}

.danmaku-x-up-tip {
  position: absolute;
  left: 0.66em;
  top: 50%;
  background: #00a1d6;
  color: #fff;
  border-radius: 1em;
  padding: 0 0.5em;
  text-shadow: none !important;
  line-height: 1.5;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.danmaku-x-paused {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

@keyframes roll {
  0% {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
  }
  100% {
    -webkit-transform: translateX(var(--translateX)) translateZ(0);
    transform: translateX(var(--translateX)) translateZ(0);
  }
}

@keyframes fixed-x-center {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.player-row-dm-wrap.danmaku-x-paused {
  .danmaku-x-dm {
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important;
  }
}
