.ui-area {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  line-height: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 100%;

  .ui-progress-wrap {
    background-color: hsla(0, 0%, 100%, 0.2);
    border-radius: 6px;
    height: 6px;
    position: relative;
    width: 100%;
    cursor: pointer;

    .ui-progress-bar {
      background-color: #00a1d6;
      background-color: var(--player-fn-color, #00a1d6);
      border-radius: 6px;
      height: 100%;
      position: relative;
      width: 0;
      z-index: 1;

      .ui-progress-dot {
        background-color: #fff;
        border-radius: 50%;
        height: 14px;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transform: translate3d(6px, -4px, 0);
        transform: translate3d(6px, -4px, 0);
        width: 14px;
        z-index: 4;
      }
    }

    .ui-progress-step {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 12px;
      left: 6px;
      pointer-events: none;
      position: absolute;
      right: 6px;
      top: 0;
      z-index: 2;

      .ui-progress-item:first-child {
        margin-left: -4px;
      }

      .ui-progress-item:last-child {
        margin-left: 0;
      }

      .ui-progress-item {
        height: 12px;
        left: 0;
        margin-left: -1px;
        position: absolute;
        top: 1px;
        white-space: nowrap;

        .ui-progress-lab {
          background: #fff;
          border-radius: 100%;
          height: 4px;
          width: 4px;
        }
      }
    }
  }

  .ui-progress-val {
    text-wrap: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: hsla(0, 0%, 100%, 0.8);
    cursor: default;
    font-size: 12px;
    line-height: 16px;
    padding-left: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
