.player-toast-wrap {
  box-sizing: content-box;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  display: flex;
  bottom: 70px;
  font-size: 14px;
  font-size: var(--player-toast-font-size, 14px);
  left: 10px;
  line-height: 36px;
  pointer-events: none;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 65;
  color: #fff;
  padding: 0 10px;
  -ms-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  display: none;

  .player-toast-close {
    fill: #fff;
    float: left;
    height: 100%;
    margin-right: 4px;
    position: relative;
    height: 20px;
    width: 20px;
    line-height: 28px;
  }

  .player-toast-jump {
    color: var(--player-brand_pink, #ff6699);
    margin: 0 6px 0 6px;
    text-decoration: none;
    cursor: pointer;
    pointer-events: all;
  }
}